@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  /* cores IDV */
  --color-primary: #0d3178;
  --color-secondary: #e57625;
  --font-title: "Montserrat", sans-serif;
  --font-body: "Roboto", sans-serif;
}
